<!DOCTYPE html>

<html>
<head>
    <title>Voucher</title>
    @RenderSection("head", required: false)
    <link href="@Url.Content("~/Content/Styles.css")" rel="stylesheet" type="text/css" />
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <header>
        <div class="topnav">
            <div class="navbtn">
                <a href="@Url.Action( "Index", "Voucher")" class="icon-link">
                    <button type="submit">
                        <i class="fa-solid fa-ticket"></i>
                    </button>
                </a>
                <div class="name">Danh sách Voucher</div>
            </div>

            <div class="name">Chào mừng bạn, @Session["NameUsers"]</div>
            <div class="navbtn">
                <a href="@Url.Action( "SignOut", "Login")" class="icon-link">
                    <button type="submit">
                        <i class="fa-solid fa-right-from-bracket"></i>
                    </button>
                </a>
                <div class="name">Đăng xuất</div>
            </div>
        </div>
    </header>

    <div class="container body-content" style="padding-top:6rem;margin-top:2rem">
        @RenderBody()
    </div>

    @*Thêm các tài liệu JavaScript của Bootstrap*@
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="~/Content/slick/slick.min.js"></script>
    <script src="~/Content/assets/scripts.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="~/Content/BTT/jquery.gotop.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>

