@model CNPM.Models.Product

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Layout/Layout_Storage.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="container">
        <div class="row">
            <div class="col-md-6">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    Nhập số lượng nhập
                    <input type="number" name="Quantity" class="form-control" required />
                    @Html.ValidationMessageFor(model => model.quantity, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    <input type="submit" value="Tạo" class="btn btn-success" />
                </div>
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
